h1{
    font-size: 25px;
    position: absolute;
    top: 12%;
    left: 45%;
    color: #61c3c7;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    text-shadow: 0.07em 0.07em rgb(243, 245, 236);
}
body{
    background: url("星空.jpg");
}
#calculate{
    background: #135a8a;
    width:300px;
    position: absolute;
    top:20%;
    left:50%;
    margin-left: -150px;
    padding:10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 6px 0 #4f2dac, 0 8px 10px rgba(0, 0, 0, 0.75);
}
input{
    background: #61c3c7;
    color: #3b3b32;
    width:90%;
    margin:8px 0px 20px 10px;
    height: 50px;
    overflow: hidden;
    text-align: right;
    line-height: 46px;
    padding-right: 10px;
    font-size: 35px;
    box-shadow: inset 0 0px 8px rgba(0, 0, 0, 0.5), inset 0px 2px 0 #a1a1a1;
}
table{
    padding: 0;
    margin: 0;
    border-collapse: separate;
    border-spacing: 8px;
}
tr td {  
    font-size: 20px;
    width: 15%;  
    height: 17%;
    background-color: rgb(102, 186, 219);    
    border-radius: 7px;  
    text-align: center;
    color: #fdfafa;
    padding: 10px;
    box-shadow: 0 5px 0 #a1a1a1, 0 2px 5px rgba(0, 0, 0, 0.75);
    transform: all 0.3s ease-in-out;  
    cursor: pointer;
}  
tr td:active {
    position: relative;
    top: 5px;
    background:url("星空.jpg");  
    box-shadow: inset 0 1px 2px rgba(red, green, blue, 0.4), 0 0 0 0 outset;  
    color: white;
} 
.Special{
    background-color: rgb(214, 37, 90);
}